/* 首页样式 */
.index{
    width: 100%;
    min-height: calc(100% + 80px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 62px;
}
main{
    flex: 1;
    min-height: calc(100% + 80px + 62px);
    width: 100%;
    background-color: rgb(251, 251, 249);
}
.container{
    width: 80%;
    height: auto;
    padding: 5px;
    background-color: #fff;
    margin:10px auto;
}
footer{
    width: 100%;
    height: 80px;
    background-color: rgba(84, 83, 83, 0.947);
}
.tab_nav{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    padding: 0 10px ;
    justify-content: space-between;
}

.photo{
    width: 50px;
    height: 50px;
}
.ant-tabs-top{
    height: 100%;
}
.top_icon{
    width: 100px;
    height: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content:space-around;
    align-items: center;
}