@import '~antd/dist/antd.css';
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,body,#root{
  width: 100%;
  height: 100%;
}

.con_box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.con_left_box{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper_box{
  width: 90%;
  height: 200px;
  background-color: aqua;
}
.article_box{
  width: 90%;
  height: 300px;
  background-color: beige;
  margin-top: 5px;
}
.con_right_box{
  width: 25%;
  height: 100%;
  
}
.recommendToReading_box{
  width: 100%;
  height:  150px;
  background-color: aquamarine;
}
.tips_box{
  width: 100%;
  height: 100px;
  margin-top: 5px;
  background-color: antiquewhite;
}
.category_box{
  width: 100%;
  margin-top: 5px;
  height: 200px;
  background-color: burlywood;
}